body {
    background-color: #0397AB;
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0;
    padding: 0;
  }
  
  nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #25a3c3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: url("./img/mariposa.cur"), pointer;
    margin: 0 10px;
    flex: 1;
  }
  
  nav a:hover {
    background-color: #a034c0;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
/* Imagenes */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.gallery img {
  margin: 10px;
  max-width: 300px;
  height: auto;
  cursor: pointer;
}